@media screen and (max-width: 680px) { 
    .header{
        height: 225px;
    }
    .header ul{
        float: left;
    }
    
    #blog-container h1 {
        font-size: 40px;   
    }
        
    .info img {
        width:90%;
        height:300px;
        margin-left: 5%;
    }
    
   

}
